<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body>
    <div id="main-wrapper" class="container-fluid bg-dark">
    <%= partial "shared/navigation" %>
      <%= yield %>
    </div>
    <%= partial "partials/bootstrap" %>
  </body>
</html>
