<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body onload="init()">
    <div id="main-wrapper" class="container-fluid bg-dark">
      <%= partial "shared/navigation" %>
      <div class="row justify-content-center fill-vertical">
        <div class="col-lg-8 bg-light px-lg-5 px-4 pb-5">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= partial "partials/bootstrap" %>
  </body>
</html>
