<div class="row mt-5">
  <% collection.each do |img| %>
    <div class="col-md-12 col-lg-4 mt-4">
      <a href="<%= painting_path(p) %>">
        <%= image_tag(p.photo.url, class: "mb-4 img-fluid") %> 
        <p class="text-center"><%= p.name %></p>
      </a>
    </div>
  <% end %>
</div>
