---
---
<% content_for(:head) do %>
  <%= dato_meta_tags(painting_category) %>
<% end %>

<%= partial "partials/generic_content", locals: {heading: painting_category.name, content: painting_category.overview} %>

<div class="row">
  <% dato.paintings.select{|p| p.painting_category == painting_category}.each do |p| %>
    <div class="col">
      <%= image_tag(p.photo.url, class: "img-fluid") %> 
    </div>
  <% end %>
</div>
