<% content_for(:head) do %>
  <%= dato_meta_tags(painting) %>
<% end %>
<div class="row">
  <div class="col text-center">
    <a class="oi oi-arrow-left" href="<%= painting_category_path(painting) %>">back to <%= painting.painting_category.name %></a>
  </div>
</div>
<h2><%= painting.name %></h2>

