<nav class="navbar navbar-expand-lg bg-light sticky-top border-bottom">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#menu_items">
    <span class="oi oi-menu">
    </span>
  </button>
    <a href="/" class="navbar-brand">
      <span class="navbar-text">ALLEN HICKS</span>
    </a>
  <div id="menu_items" class="collapse navbar-collapse">  
    <ul class="navbar-nav navbar-light">
      <li class="nav-item">
        <%= link_to "Paintings", "/paintings.html", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", "/about.html", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>

