<header class="row">
  <div class="col-xs-9 col-md-2">
    <h1><a href="/">Allen Hicks</a></h1>
  </div>
  <div class="menu-item-wrapper col-md-10">
    <a href="#" class="col-md-1">Paintings</a>
    <a href="#" class="col-md-1">About</a>
    <a href="#" class="col-md-1">Contact</a>
  </div>

</header>
