<!--<div class="jumbotron">
  <h1>Allen Hicks</h1>
  <p>Contemporary abstract artist</p>
</div>
-->

<nav class="navbar navbar-expand-md bg-light sticky-top">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#menu_items">
    <span class="navbar-toggler-icon">
      <%= image_tag("icons/bars-solid.svg") %>
    </span>
  </button>
  <div id="menu_items" class="collapse navbar-collapse">  
    <a href="/" class="navbar-brand">
      <span class="navbar-text">Allen Hicks</span>
    </a>
    <ul class="navbar-nav navbar-light">
      <li class="nav-item">
        <a href="#" class="nav-link">Paintings</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>

