  
  <nav class="navbar navbar-expand-md">
    <ul class="navbar-nav navbar-light bg-light">
      <li class="nav-item">
        <a href="#" class="nav-link">Paintings</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
  
  </nav>

<!--
  <div class="hamburger col-xs-1 hidden-md hidden-lg">x</div>
  <div class="col-xs-9 col-md-2">
    <h1><a href="/">Allen Hicks</a></h1>
  </div>
  <div class="menu-item-wrapper col-md-10">
    <a href="#" class="col">Paintings</a>
    <a href="#" class="col">About</a>
    <a href="#" class="col">Contact</a>
  </div>
-->

