<div class="mt-5">
  <h2>Contact Allen Hicks</h2>
  <% form_tag "", class: "form--class--here", method: "post", data: {netlify: "true"} do %> 
  <% field_set_tag do %> 
    <p>hello</p>
  <% end %>
<% end %> 
</div>
