<div class="mt-5">
  <h2>Contact Allen Hicks</h2>
  <% form_tag "", class: "form--class--here", method: "post", data: {netlify: "true"} do %> 
    <div class="form-group">
      <%= label_tag :name, caption: 'Name*' %>
      <%= text_field_tag :name, class: "form-control", required: true %>
    </div>
    <%= submit_tag "Submit", "btn btn-primary" %> 
<% end %> 
</div>
