<% content_for(:head) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<div id="carousel--homepage" class="row row-eq-height carousel align-items-center slide carousel--homepage" data-ride="carousel">
  <div class="carousel-inner col-sml-12 col-md-10 mx-auto">
    <% featured_paintings(dato.paintings).each do |p| %>
      <div class="carousel-item active">
        <%= image_tag(p.photo.url, class: "carousel--image border img-fluid d-block mx-auto") %> 
      </div>
    <% end %>
  </div>
    <a class="carousel-control-prev" href="#carousel--homepage" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel--homepage" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

